{% include 'magasin/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<center>
{% block content %}
  <h1>{{ product.libellé }}</h1>
  <p>{{ product.description }}</p>
  <p>Prix: {{ product.prix }}</p>
  <p>Type: {{ product.type }}</p>
  <p>image: {{ product.img }}</p>
  <p>categorie: {{ product.categorie }}</p>
  <p>fournisseur: {{ product.fournisseur }}</p>
<button class="btn btn-primary"><a href="{%url 'index'%}">Back</a>
</button>
{% endblock %}
</center>